/Demo
/Demo.meta
/Art/Animations
/Art/Animations.meta
/Art/Demo textures
/Art/Demo textures.meta
/Art/Meshes
/Art/Meshes.meta
/Art/Skyboxes
/Art/Skyboxes.meta
/Art/Shaders/Demo
/Art/Shaders/Demo.meta
/Art/Text stored meshes
/Art/Text stored meshes.meta
/Documentation/Read me (CH).pdf
/Documentation/Read me (CH).pdf.meta